html, body {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
}

header {
    background-image: url("../images/pattern-bg.png");
    background-origin: content-box;
    padding-top: 30px;
    height: 250px;
    text-align: center;
    color: #F2F7FF;
}

#ip-title {
    font-size: 25px;
    font-weight: bolder;
}

#user-input {
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

input {
    width: 35%;
    height: 38px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

#search-button {
    background-color: black;
    width: 45px;
    height: inherit;
    vertical-align: middle;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#search-button > svg {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#ip-specifics {
    height: 170px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    position: relative;
    bottom: -30%;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 4px #fff;
    z-index: 10000;
    flex-wrap: wrap;
}

.ip-element {
    width: 25%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    padding-top: 25px;
}

.spec-title {
    color: gray;
    font-weight: 500;
}

.spec-info {
    color: black;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 20px;
}

#map {
    width: 100%;
    height: 100%;
    display: block;
}

#map-container {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    #ip-specifics {
        height: 120%;
        bottom: -20%;
    }

    .ip-element {
        width: 300px;
        height: auto;
    }

    .spec-info {
        font-size: 80%;
    }
}

@media screen and (max-width: 750px) {
    #ip-specifics {
        height: 150%;
        bottom: -10%;
    }

    .ip-element {
        padding-top: 10px;
    }

}